body, p {
	background:#FFF;
	text-align:justify;
	font-family:Serif;
}
ul, ol, ul li, ol li {
	list-style:none;
}
nav, .input-wrapper, input#submit, .button, select,
div#left-column, a#mp-admin-logout, div.admin-widget-wrapper.half,
div.fg-toolbar, td.w5.unselectable, table.data-tables tr td.last-column,
div.admin-widget-wrapper.onethird, table.data-tables tr th.unselectable,
a.edit-media, a.delete-media,
form#misc-options, form#user-options {
	display:none;
}
div.admin-widget-wrapper.half.right, table.data-tables tr th.unselectable.w20 {
	display:block;
}
a, a:active, a:visited {
	color:#069;
	text-decoration:none;
}
img {
	max-width:100%;
	height:auto;
}
span.logo-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}
article header, h3 {
	font-size:12px;
	font-size:1.2rem;
    display: block;
    text-align: center;
    color: #900;
}
h3.admin-widget-title {
	clear:both;
	font-size:13px;
	font-size:1.3rem;
}
div.non-ajax h3.table-title {
	font-size:12px;
	font-size:1.2rem;
	color:#333;
}
div.admin-header span {
	font-size:9px;
	font-size:0.9rem;
	color:#999;
	float:right;
}
div.admin-widget ul.rss-items li {
	font-size:10px;
	font-size:1rem;
	margin:0 0 10px;
}
#right-column .fixed-footer span {
	clear:both;
	display:block;
	text-align:center;
	font-size:9px;
	font-size:0.9rem;
	margin-top:10px;
}
html.webkit table {
	border:none;
}
table.data-tables {
	margin-top:-6px
}
table.data-tables tr:first-child {
	border-top:1px solid #CCC;
}
table#objects {
	font-size:8px;
	font-size:0.8rem;
}
ul#mp-media-gallery li {
	text-align:center;
}
ul#mp-media-gallery li span.media-meta p {
	width:100%;
	text-align:center;
}
#right-column .fixed-footer {
	margin-top:25px;
	border-top:1px dotted #CCC;
}
#right-column div.admin-header span {
	width:100%;
	text-align:right;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dotted #CCC;
}
