/* FORMS */
form.mp-form label {
    clear: both;
    float: left;
    position: relative;
    color: #069;
    font-weight: bold;
    padding: 0 2% 5px;
    width: 96%;
}
.full form.mp-form label {
    padding: 0 2% 5px 1%;
}
form.mp-form .input-wrapper {
    clear: both;
    float: left;
    position: relative;
    width: 96%;
    padding: 6px 2%;
    background: #EEE;
    border: 1px solid #CCC;
    margin: 0 0 15px;
}
.full form.mp-form .input-wrapper {
    padding: 6px 1%;
    width: 98%;
}
.full form.mp-form .input-wrapper-area {
    padding: 15px 1%;
}
form.mp-form .input-wrapper .blanked {
    padding: 0;
    margin: 0;
    width: 100% !important;
    background: transparent;
    border: none;
}
form.mp-form .input-wrapper textarea.blanked {
    min-height: 251px;
}
body.data-view form.mp-form .input-wrapper textarea.blanked {
    max-height: 135px;
}
form.mp-form input#submit {
    clear: both;
    float: right;
    position: relative;
    margin: 15px 0;
}
form.mp-form .button {
    clear: both;
    float: left;
    position: relative;
    margin: 15px 0;
}
form.mp-form .button.hidden {
    display: none;
}
form.mp-form span.notification {
    display: block;
    padding: 10px;
    background: #FFFFEE;
    color: #757575;
    text-align: center;
    border: 1px dotted #DDD;
    margin: 0 0 15px;
}
form.mp-form span.notification.errors {
    background: #FFF4F4;
}
form.mp-form span.notification.success {
    background: #EEFFEF;
}
form.mp-form label span.mp-publish-view,
form.mp-form label span.mp-data-view {
    float: right;
}
form.mp-form input#submit,
form.mp-form .button {
    clear: none;
    font-weight: bold;
    font-size: 13px;
    font-size: 1.3rem;
    background-color: #545454;
    border:3px solid #BBB;
    color: #EEE;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #454545, #000000);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#454545));
    background-image: -o-linear-gradient(#454545,#000000);
    box-shadow:1px 1px 5px #BBB;
    -moz-box-shadow:1px 1px 5px #BBB;
    -webkit-box-shadow:1px 1px 5px #BBB;
    font-style:normal;
}
form.mp-form input#submit:hover {
    color: #FFF;
    background-color: #000;
    background-image: -moz-linear-gradient(100% 100% 90deg, #000000, #454545);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#000000));
    background-image: -o-linear-gradient(#000000,#454545);
}
form.mp-form .button {
    color: #999;
    background-color: #FFE;
    background-image: -moz-linear-gradient(100% 100% 90deg, #FFFFEE, #EEEEEE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#FFFFEE));
    background-image: -o-linear-gradient(#FFFFEE,#EEEEEE);
}
form.mp-form .button:hover {
    color: #666;
    background-color: #EEE;
    background-image: -moz-linear-gradient(100% 100% 90deg, #EEEEEE, #FFFFEE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFEE), to(#EEEEEE));
    background-image: -o-linear-gradient(#EEEEEE,#FFFFEE);
}
form.mp-form .button.mini {
    float: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #CCC;
    margin: 0 10px;
    color: #999 !important;
    outline: 0;
}
form.mp-form .button.mini {
    float: right;
}
form.mp-form .button.mini:hover {
    color: #454545 !important;
}

body.wysiwyg {
    background: transparent;
}
body.wysiwyg h1,
body.wysiwyg h2,
body.wysiwyg h3,
body.wysiwyg h4,
body.wysiwyg h5,
body.wysiwyg h6,
body.wysiwyg p,
body.wysiwyg li {
    padding: 5px 0 15px;
}
body.wysiwyg a {
    color: #4F81BD !important;
}
body.wysiwyg a:hover {
    color: #607890 !important;
}

div#mp-objects-table,
div#mp-object-form,
div.jdash-item {
    display: inline-block;
    vertical-align: top;
}
div#mp-objects-table {
    width: 70%;
    /*min-width: 950px*/
}
div#mp-object-form {
    width: 25%;
}
div#mp-misc-options,
div#mp-media-gallery {
    width: 60%;
    /*min-width: 950px*/
}
div#mp-plugin-options,
div#mp-media-form {
    width: 35%;
}
div#mp-objects-table div.jdash-body {
    /*min-width: 600px;*/
}

a.switch-to-publish,
a.switch-to-published,
a.switch-to-data,
span.selected-view-state {
    font-size: 11px !important;
    font-size: 1.1rem !important;
    font-weight: normal;
    text-transform: uppercase;
    color: #757575 !important;
    background: #EEE;
    padding: 4px 10px;
    border: 1px solid #757575;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-decoration: none !important;
}
a.switch-to-publish:hover,
a.switch-to-published:hover,
a.switch-to-data:hover,
span.selected-view-state {
    font-weight: normal;
    color: #EEE !important;
    background: #757575;
    border: 1px solid #000;
}
form.mp-form span.mp-data-view {
    margin: 0 -2% 10px 0;
}
form.mp-form span.mp-publish-view {
    margin: 0 -3% 10px 0;
}
.full form.mp-form span.mp-data-view {
    margin: 0 -3% 10px 0;
}
span#mp-object-form-lower-notification {
    clear: both;
    display: none;
}
/* Adjustments for publish view */
body.publish-view div#mp-object-form {
    width: 97%;
    min-width: 660px !important;
}
body.publish-view span#mp-object-form-lower-notification {
    clear: both;
    float: left;
    display: inline-block;
    margin: 16px;
    padding-left: 30px;
    padding-right: 30px;
}
body.publish-view div#mp-debug-panel {
    width: 97%;
    margin: 25px 0 25px 2% !important;
}
div#site-credits, div#version {
    display: block;
    width: auto;
    padding: 25px 0;
    font-size: 12px;
    font-size: 1.2rem;
    color: #757575;
    text-align: center;
}
div#version {
    padding: 10px 0 45px;
}

form#object div#mp-object-compact,
form#object div#mp-object-slug-wrapper {
    display: block;
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px dotted #DDD;
}
form#object div#mp-object-slug-wrapper {
    float: left;
    width: 100%;
    display: inline;
}
form#object div#mp-object-compact label {
    width: auto;
    display: inline-block;
    margin:5px 0 0;
}
form#object div#mp-object-compact label#object-slug-label {
	clear: both;
}
form#object div#mp-object-compact a#mp-object-slug-switcher,
form#object div#mp-object-compact div#temporary-slug {
    clear: both;
    float: right;
    margin: 25px 15px -20px;
}
form#object div#mp-object-compact div#temporary-slug {
    padding: 3px 15px;
    color: #999;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    background: #F7F7F7;
    border: 1px solid #DDD;
    margin: -1px 15px 0;
}
form#object div#mp-object-compact div#temporary-slug {
    width: 96%;
    margin: 15px 1% 25px;
    clear: both;
	padding: 3px 1%;
}
div.jdash-body form#object div#mp-object-compact div#temporary-slug {
    width: 92%;
    margin: 15px 0 25px;
    clear: both;
}
.publish-view div.jdash-body form#object div#mp-object-compact div#temporary-slug {
    width: 98%;
    margin: 15px 0 25px;
    clear: both;
}
form.mp-form div.mp-custom-field-wrapper, form.mp-form div#mp-object-custom-wrapper {
    display: block;
}
form.mp-form div.mp-custom-field-wrapper div.custom-left {
    display: inline-block;
    width: 20%;
    padding-right: 3%;
}
form.mp-form div.mp-custom-field-wrapper div.custom-right {
    width: 47%;
    display: inline-block;
    padding-right: 3%;
}
form.mp-form div.mp-custom-field-wrapper div.custom-actions {
    width: 25%;
    display: inline-block;
    text-align: right;
}
form.mp-form div.mp-custom-field-wrapper,
form.mp-form div.mp-custom-field-wrapper div {
    vertical-align: top;
}
form.mp-form div.mp-custom-field-wrapper div.custom-actions label {
    float: right;
    text-align: right;
    padding-right: 20px;
}
h3.form-title {
    background: none repeat scroll 0 0 #FFFFEE;
    border: 1px dotted #DDDDDD;
    color: #990000;
    display: block;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
}

/* SMALL SCREEN RESET */
.lt-1024 div.themed-admin-left-side,
.lt-1024 div.themed-admin-right-side {
    width: 100% !important;
    padding: 15px 0 25px !important;
    margin: 0;
    clear: both;
}