
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, button, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

br { clear: both; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */
h1   { font-size: 24px; font-size: 2.4rem; } /* =24px */
h2   { font-size: 21px; font-size: 2.1rem; } /* =21px */
h3   { font-size: 18px; font-size: 1.8rem; } /* =18px */
h4   { font-size: 16px; font-size: 1.6rem; } /* =16px */

select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
/* Removed box shadows and background highlights - until <input> becomes fully fluid these enhancements will be removed */
input:valid, textarea:valid {}
input:invalid, textarea:invalid {}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {}


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

input, select, textarea { color: #757575; }
input:focus, select:focus, textarea:focus { color: #444444; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/* Placeholder */
::-webkit-input-placeholder  { font-style:italic; color:#AAA; }
input:-moz-placeholder { font-style:italic; color:#AAA; }
textarea:-moz-placeholder { font-style:italic; color:#AAA; }

body, html {
    overflow: hidden;
}

body {
    height: 100%;
    background:#E8E8E8;
}

section#sidebar {
    height: 100%;
    background: #DEE0DE;
    border-right: 1px solid #BBB;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 49px;
    overflow: auto;
}

section#mp-content {
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 0;
    overflow: auto;
}

div.admin-header {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    background: #646F82;
    border-bottom: 3px solid #666;
    height: 45px;
    overflow: hidden;
    z-index: 999;
}
div.scrollable {
    position: absolute;
    top: 44px;
    bottom: 0;
}

nav#view-by {
    border-left: 1px solid #AAA;
    text-align: right;
}
div.admin-header a {
	opacity: 0.7;
    display: inline-block;
	position: relative;
	padding: 5px 10px;
	background: #737D8D;
	color: #CCCCCC;
	text-transform: uppercase;
	font-size: 10px;
	font-size: 1rem;
	margin: 12px;
	text-decoration: none;
	border: 1px solid #333333;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.admin-header a:hover {
	color: #FFFFFF;
	opacity: 0.4;
}
div.admin-header span a {
	margin: -3px 5px 0;
}
div.admin-header span input#mp-search {
	background: #A4AAB4;
	border: 1px solid #333333;
	color: #333333;
	padding: 4px 10px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.radius8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.radius8-top {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
.glow {
    -moz-box-shadow: 0 0 2px 5px #DDD;
    -webkit-box-shadow: 0 0 2px 5px #DDD;
    box-shadow: 0 0 2px 5px #DDD;
}

/* SIDEBAR */
#sidebar {
    background: #DDDDDD;
	overflow-x: visible !important;
	border-right: 3px double #AAAAAA;
	-moz-box-shadow: 5px 10px 15px #DDDDDD;
    -webkit-box-shadow: 5px 10px 15px #DDDDDD;
    box-shadow: 5px 10px 15px #DDDDDD;
}
#sidebar ul.menu-lists, section#sidebar ul.menu-lists li,
#sidebar ul.menu-lists ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a.mp-admin-menus {
	outline: 0;
}
#sidebar ul.menu-lists li {
	outline: 0;
    display: block;
    padding: 18px 0 0;
    border-top: 3px double #BBB;
	border-bottom: 1px solid #DDDDDD;
	height: 39px;
	position: relative;
    cursor: pointer;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(100% 100% 90deg, #DDDDDD, #F5F5F5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#DDDDDD));
    background-image: -o-linear-gradient(#F5F5F5,#DDDDDD);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F5F5F5, endColorstr=#DDDDDD);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F5F5F5', endColorstr='#DDDDDD');
}
#sidebar ul.menu-lists li:hover {
	border-bottom-color: #CCC;
    background-color: #E8EAEC;
    background-image: -moz-linear-gradient(100% 100% 90deg, #D7DBE2, #E8EAEC);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8EAEC), to(#D7DBE2));
    background-image: -o-linear-gradient(#E8EAEC,#D7DBE2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E8EAEC, endColorstr=#D7DBE2);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E8EAEC', endColorstr='#D7DBE2');
}
#sidebar ul.menu-lists li.current {
	height: auto;
    background-color: #E7EAED;
    background-image: -moz-linear-gradient(100% 100% 180deg, #D8DDE4, #E7EAED);
    background-image: -webkit-gradient(linear, left top, right top, from(#E7EAED), to(#D8DDE4));
    background-image: -o-linear-gradient(left, #E7EAED 0%, #D8DDE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#E7EAED, endColorstr=#D8DDE4);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#E7EAED', endColorstr='#D8DDE4');
}
#sidebar ul.menu-lists li:first-child {
    border-top: none;
}
#sidebar ul.menu-lists li span.title {
    display: block;
	width: 90%;
    font-weight: bold;
    font-size: 13px;
    font-size: 1.3rem;
    color: #A6ABB4;
	text-transform: uppercase;
    padding: 0 5% 24px;
    margin: 0;
	white-space: nowrap;
}
#sidebar ul.menu-lists li span.sub-menu {
	display: none;
	padding: 0 5%;
	position: relative;
	top: 0;
	height: 100%;
    background-color: #E8EAEC;
    background-image: -moz-linear-gradient(100% 100% 90deg, #D7DBE2, #F5F5F5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#D7DBE2));
    background-image: -o-linear-gradient(#F5F5F5,#D7DBE2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F5F5F5, endColorstr=#D7DBE2);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F5F5F5', endColorstr='#D7DBE2');
}
#sidebar ul.menu-lists li.current.got-submenu span.sub-menu {
	padding: 25px 5%;
	display: block;
}
#sidebar ul.menu-lists li.current span.title {
	color: #646D80;
	border-bottom: 1px dotted #BBBBBB;
}
#sidebar ul.menu-lists li span.description {
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    color: #999;
    text-transform: uppercase;
}
#sidebar ul.menu-lists li.current span.title:after{
	content: "";
	position: absolute;
	top:-4px;
	right:-20px;
	width:0px;
	height:0px;
	border-bottom:33px solid transparent;  /* left arrow slant */
	border-top:33px solid transparent; /* right arrow slant */
	border-left:20px solid #BBBBBB; /* bottom, add background color here */
	font-size:0px;
	line-height:0px;
	z-index: 998;
}
#sidebar ul.menu-lists li.current:after{
	content: "";
	position: absolute;
	top:0;
	right:-17px;
	width:0px;
	height:0px;
	border-bottom:29px solid transparent;  /* left arrow slant */
	border-top:29px solid transparent; /* right arrow slant */
	border-left:17px solid #D8DDE4; /* bottom, add background color here */
	font-size:0px;
	line-height:0px;
	z-index: 999;
}
#sidebar ul.menu-lists li span.title:before {
	content: "";
	display: inline;
	float: left;
	width: 32px;
	height: 32px;
	margin: -5px 10px 0 0;
	padding-right: 10px;
	border-right: 1px dotted #BBBBBB;
	background: url("../images/icons.png") no-repeat -120px -30px;
}
#sidebar ul.menu-lists li#objects span.title:before {
	background-position: -120px -85px;
}
#sidebar ul.menu-lists li#media span.title:before {
	background-position: -120px -152px;
}
#sidebar ul.menu-lists li#settings span.title:before {
	background-position: -120px -335px;
}
#sidebar ul.menu-lists li.current span.title:before {
	background-position: -30px -30px;
}
#sidebar ul.menu-lists li#objects.current span.title:before {
	background-position: -30px -85px;
}
#sidebar ul.menu-lists li#media.current span.title:before {
	background-position: -30px -152px;
}
#sidebar ul.menu-lists li#settings.current span.title:before {
	background-position: -30px -335px;
}
#sidebar ul.menu-lists li.loading span.title:before {
	background: url("../../mp-includes/images/ajax_loader_dark.gif") no-repeat !important;
	border-right: none !important;
	margin-top: 5px;
}
#sidebar ul.menu-lists li.loading span.title {
	text-indent: -999em;
}
#sidebar ul.menu-lists li.loading {
	width: auto;
	background: transparent !important;
}
a.mp-admin-menus {
	text-decoration: none;
}

/* MAIN ADMIN CONTENT */
div.admin-widget-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}
h3.admin-widget-title {
	display: block;
	padding: 15px;
	font-size: 14px;
	font-size: 1.4rem;
	color: #666666;
	text-transform: uppercase;
	border: 1px solid #CCC;
	background-color: #F5F5F5;
	-webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-image: -moz-linear-gradient(100% 100% 90deg, #DDDDDD, #F5F5F5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#DDDDDD));
    background-image: -o-linear-gradient(#F5F5F5,#DDDDDD);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F5F5F5, endColorstr=#DDDDDD);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F5F5F5', endColorstr='#DDDDDD');
}
h3.admin-widget-title:after {
	content: "";
	position: relative;
	float: right;
	display: inline;
	width: 25px;
	height: 25px;
	margin: -2px 0 0 0;
	background: url("../images/icons.png") no-repeat -120px -395px;
	cursor: pointer;
}
h3.admin-widget-title:hover:after {
	content: "";
	position: relative;
	float: right;
	display: inline;
	width: 25px;
	height: 25px;
	margin: -2px 0 0 0;
	background: url("../images/icons.png") no-repeat -30px -395px;
	cursor: pointer;
}
div.admin-widget {
	display: block;
	padding: 15px;
	background: #FAFAFA;
	border: 1px solid #CCC;
	font-size: 11px;
	font-size: 1.1rem;
	border-top-color: #DDD;
	border-top: 3px souble #BBB;
	-webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
div.admin-widget div.left-side {
	display: inline-block;
	position: relative;
	float: left;
	width: 49%;
	padding: 0;
	margin: 0;
	padding-right: 1%;
	vertical-align: top;
}
div.admin-widget div.right-side {
	display: inline-block;
	position: relative;
	width: 48%;
	padding: 0;
	margin: 0;
	padding-left: 1%;
	vertical-align: top;
	float: right;
}
div.admin-widget div.left-side h3,
div.admin-widget div.right-side h3 {
	padding-bottom: 10px;
	border-bottom: 1px dotted #BBB;
	margin-bottom: 15px;
}
div.admin-widget div.left-side ul {
	margin-left: 0;
}
div.admin-widget div.left-side ul li,
div.admin-widget div.right-side ul li {
	padding: 5px 0;
	list-style: none;
}
div.admin-widget div.right-side h3,
div.admin-widget div.right-side ul li {
	text-align: right;
}

/* FLUID ADMIN WIDGET WRAPPERS */
div.admin-widget-wrapper {
	vertical-align: top;
	padding-bottom: 30px;
}
div.admin-widget-wrapper.half {
	width: 49%;
	padding-right: 1%;
	float: left;
}
div.admin-widget-wrapper.half.right {
	padding-right: 0;
	padding-left: 1%;
}
div.admin-widget-wrapper.twothirds {
	width: 69%;
	padding-right: 1%;
}
div.admin-widget-wrapper.onethird {
	width: 28%;
	padding-right: 0;
	padding-left: 1%;
}

/* FIXED FOOTERS */
#left-column .fixed-footer span,
#right-column .fixed-footer span,
#left-column .admin-header span,
#right-column .admin-header span {
    display: block;
    padding: 15px 5px;
    color: #AAA;
    font-size: 11px;
    font-size: 1.1rem;
}
#left-column .fixed-footer span,
#right-column .fixed-footer span {
	padding: 15px;
}
#right-column .fixed-footer span,
#right-column .admin-header span {
    text-align: right;
}
.fixed-footer a {
	color: #EFEFEF;
	text-decoration: none;
	font-weight: bold;
}
.fixed-footer a:hover {
	color: #FFFFFF;
}

/* ISCROLL EXTRAS */
#left-column, #right-column {
    position: absolute;
    display: inline-block;
    height: 100%;
	overflow: visible;
}
#left-column {
    width: 15%;
    left: 0;
}
#right-column {
    width: 85%;
    right: 0;
    padding-left: 1px;
    z-index: 1;
}
div.admin-header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	background: #646F82;
	border-bottom: 3px solid #666;
    height: 45px;
    overflow: hidden;
}
div.admin-header a {
    font-size: 10px;
    font-size: 1rem;
}
.fixed-footer,
div.admin-header {
	position:absolute; z-index:2;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	white-space: nowrap;
	overflow: hidden;
	padding:0;
	border-top:3px double #757575;
	background-color: #575F6E;
    background-image: -moz-linear-gradient(100% 100% 90deg, #3F4146, #575F6E);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575F6E), to(#3F4146));
    background-image: -o-linear-gradient(#575F6E, #3F4146);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#575F6E, endColorstr=#3F4146);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#575F6E', endColorstr='#3F4146');
}
div.admin-header {
	border-top: none;
	border-bottom: 3px double #757575;
}
#sidebar, #mp-content {
	position:absolute; z-index:1;
	top:53px; bottom:53px; left:0;
	width:100%;
	overflow:visible !important;
}
#mp-content {
	overflow: hidden !important;
}
#left-column .fixed-footer,
#left-column div.admin-header {
	z-index: 999999;
	overflow: visible;
}
#left-column .fixed-footer span,
#left-column .fixed-footer span p {
	position: relative;
	z-index: 999999;
	overflow: visible;
}
#right-column .fixed-footer,
#right-column div.admin-header {
	z-index: 1;
}
.webkit .fixed-footer {
	border-top:3px solid #757575;
}
.scroll-wrapper {
	position:absolute;
	z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
}

#myFrame {
	position:absolute;
	top:0; left:0;
}

#current-content {
	display: block;
	padding: 30px;
}

/* RESET TABLE STYLES */
div.admin-widget-wrapper .ui-widget-header {
	background: transparent;
	border: none;
}
div.admin-widget-wrapper .ui-widget-header.ui-corner-bl {
	border-top: 1px solid #CCC;
}
div.admin-widget-wrapper div.dataTables_wrapper div.dataTables_length,
div.admin-widget-wrapper div.fg-toolbar div.dataTables_info,
div.admin-widget-wrapper div.fg-toolbar div.dataTables_paginate {
	color: #999999;
	padding: 15px 0;
	width: 50%;
}
div.admin-widget-wrapper form#objects-form select#object-actions {
	top: 80px;
}
li.menus a.button,
.notification .button {
	float: left;
	cursor: pointer;
	padding: 6px 12px;
	color: #CCCCCC;
	margin: 0 5px 10px 0;
	text-decoration: none;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.admin-widget-wrapper form.mp-form input#submit,
li.menus a.button,
.notification .button {
	background-color: #575F6E;
    background-image: -moz-linear-gradient(100% 100% 90deg, #3F4146, #575F6E);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575F6E), to(#3F4146));
    background-image: -o-linear-gradient(#575F6E, #3F4146);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#575F6E, endColorstr=#3F4146);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#575F6E', endColorstr='#3F4146');
}
li.menus a.button:hover,
div.admin-widget-wrapper form.mp-form input#submit:hover,
.notification .button:hover {
	background-color: #3F4146;
    background-image: -moz-linear-gradient(100% 100% 90deg, #575F6E, #3F4146);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3F4146), to(#575F6E));
    background-image: -o-linear-gradient(#3F4146, #575F6E);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3F4146, endColorstr=#575F6E);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#3F4146', endColorstr='#575F6E');
}
.notification .button {
	float: none;
	margin: 0 2px;
	font-size: 11px;
	font-size: 1.1rem;
}
div.admin-widget-wrapper .ui-state-default,
div.admin-widget-wrapper .ui-widget-content .ui-state-default,
div.admin-widget-wrapper .ui-widget-header .ui-state-default,
div.admin-widget-wrapper form.mp-form .button,
div.admin-widget .plupload_header_content {
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	background-color: #E7EAED;
    background-image: -moz-linear-gradient(100% 100% 90deg, #D8DDE4, #E7EAED);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7EAED), to(#D8DDE4));
    background-image: -o-linear-gradient(#E7EAED, #D8DDE4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E7EAED, endColorstr=#D8DDE4);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E7EAED', endColorstr='#D8DDE4');
}
div.admin-widget-wrapper .ui-state-default:hover,
div.admin-widget-wrapper .ui-widget-content .ui-state-default:hover,
div.admin-widget-wrapper .ui-widget-header .ui-state-default:hover,
div.admin-widget-wrapper form.mp-form .button:hover {
	background-color: #D8DDE4;
    background-image: -moz-linear-gradient(100% 100% 90deg, #E7EAED, #D8DDE4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D8DDE4), to(#E7EAED));
    background-image: -o-linear-gradient(#D8DDE4, #E7EAED);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#D8DDE4, endColorstr=#E7EAED);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#D8DDE4', endColorstr='#E7EAED');
}
div.admin-widget-wrapper .ui-state-default.unselectable:hover,
div.admin-widget-wrapper .ui-widget-content .ui-state-default.unselectable:hover,
div.admin-widget-wrapper .ui-widget-header .ui-state-default.unselectable:hover {
	background-color: #E7EAED;
    background-image: -moz-linear-gradient(100% 100% 90deg, #D8DDE4, #E7EAED);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7EAED), to(#D8DDE4));
    background-image: -o-linear-gradient(#E7EAED, #D8DDE4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E7EAED, endColorstr=#D8DDE4);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E7EAED', endColorstr='#D8DDE4');
}
div.admin-widget-wrapper table.data-tables .unselectable a.edit-object,
div.admin-widget-wrapper table.data-tables .unselectable a.delete-object {
	display:inline-block;
	width: 20px;
	text-indent: -999em;
	outline: 0;
}
div.admin-widget-wrapper table.data-tables .unselectable a.edit-object:before,
div.admin-widget-wrapper table.data-tables .unselectable a.delete-object:before {
	content: "";
	float: left;
	width: 20px;
	height: 20px;
	background: url("../images/icons.png") no-repeat -120px -455px;
}
div.admin-widget-wrapper table.data-tables .unselectable a.edit-object:hover:before {
	background-position: -30px -455px;
}
div.admin-widget-wrapper table.data-tables .unselectable a.delete-object:before {
	background-position: -120px -515px;
}
div.admin-widget-wrapper table.data-tables .unselectable a.delete-object:hover:before {
	background-position: -30px -515px;
}
.blanked {
	-webkit-appearance: none;
}
#right-column .fixed-footer {
	z-index: 99999;
}

/* IE SPECIFC */
.ie #sidebar ul.menu-lists li.current span.title {
	position: relative;
	overflow-x: visible !important;
}
.ie #sidebar ul.menu-lists li.current span.title:after {
	top: -24px;
	border-left-color: #D7DBE2;
}

/* SUB-MENUS */
.sub-menu .user-meta {
	display: block;
}
.sub-menu .user-meta .user-avatar {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 17%;
	padding-right: 7%;
}
.sub-menu .user-meta .user-status {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 74%;
	font-size: 11px;
	font-size: 1.1rem;
	text-transform: uppercase;
}
.sub-menu .user-meta .user-status .user-name {
	display: block;
	padding-bottom:10px;
}
.sub-menu .user-meta .user-avatar img.avatar {
	width: 100%;
	display: block;
	padding: 3px;
	height: auto;
	background: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 15px;
}
.sub-menu .user-meta .user-avatar img.avatar.loading {
	background:transparent url('../../mp-includes/images/ajax_loader_dark.gif') no-repeat center center !important;
	min-height: 30px;
}

/* ADMIN WIDGETS - DASHBOARD */
div.admin-widget ul.rss-items,
div.admin-widget ul.rss-items li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
div.admin-widget ul.rss-items li {
	padding: 0;
	margin: 10px 0;
	text-align: center;
}
div.admin-widget ul.rss-items li a {
	display: block;
	padding: 15px;
	background: #FFFFFF;
	border: 1px dotted #CCC;
	text-decoration: none;
	font-size: 13px;
	font-size: 1.3rem;
	margin-bottom: 10px;
}

/* DASHBOARD NOTIFICATIONS */
div#current-content div#mp-notifications,
div#current-content div#mp-welcome {
	background: #FFF4F4;
	display: block;
	padding: 25px 15px;
	text-align: center;
	margin: 0 0 25px;
	border: 1px solid #CCC;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div#current-content div#mp-welcome {
	background: #FFFFEE;
}

/* EDIT MEDIA INLINE */
span.media-meta form.mp-form {
	padding-top: 15px;
}
span.media-meta form.mp-form .input-wrapper {
	background: #FFF;
}
span.media-meta form.mp-form .button {
	float: none;
	margin: 10px auto;
}


/* DIRTY RESETS */
/* NOT CONVINCED ABOUT HAVING THIS AT BOTTOMF OF WYSIWYG */
#mp-object-form-lower-notification {
	display: none !important;
}
/* CANNOT USE MIN WIDTHS FOR FLUID DESIGNS !!! */
div.wysiwyg iframe {
	min-width: inherit !important;
}

/* SMALL SCREENS */
.w-1000.lt-1024 div.admin-widget-wrapper.twothirds,
.w-1000.lt-1024 div.admin-widget-wrapper.onethird,
.w-900.lt-1024 div.admin-widget-wrapper.twothirds,
.w-900.lt-1024 div.admin-widget-wrapper.onethird,
.w-800.lt-1024 div.admin-widget-wrapper.twothirds,
.w-800.lt-1024 div.admin-widget-wrapper.onethird,
.lt-768 div.admin-widget-wrapper.twothirds,
.lt-768 div.admin-widget-wrapper.onethird {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.w-900.lt-1024 #sidebar ul.menu-lists li span.title,
.w-800.lt-1024 #sidebar ul.menu-lists li span.title,

.lt-768 #sidebar ul.menu-lists li span.title {
	text-indent: -999em;
}
.lt-768 #left-column {
	width: 50px;
}
.lt-768 #right-column {
	left: 50px;
	right: 0px;
	width: auto;
}
.lt-768 .sub-menu,
.lt-768 .sub-menu .user-meta,
.lt-768 #sidebar ul.menu-lists li.current.got-submenu span.sub-menu {
	display: none;
	padding: 0;
	height: 0;
}
.lt-768 #left-column .fixed-footer span p {
	display: none;
}
.lt-768 #right-column .fixed-footer span {
	text-align: center;
	padding-right: 50px;
}
.lt-768 div.admin-widget-wrapper.half {
	width: 100%;
}