/* DATATABLES */
table {
    border-collapse: separate;
}
table.data-tables {
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
}
table.data-tables, table.data-tables tbody, table.data-tables thead {
    width: 100%;
    display: block;
    /*min-width: 915px;*/
}
table.data-tables tr {
    display: table;
    width: 100%;
    border-top: 1px dotted #CCC;
	background: #F9F9F9;
}
table.data-tables tr:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
table.data-tables tr td {
    display: table-cell;
    vertical-align: middle;
    padding: 14px 1% 13px;
    width: auto;
    min-height: 30px;
}
table.data-tables tr td.center {
    text-align: center;
}
table.data-tables tr th {
    display: table-cell;
    padding: 10px 1%;
    margin-left: -3px;
    cursor: pointer;
}
table.data-tables tr th.hidden {
	display: none;
}
table.data-tables tr th.unselectable {
    cursor: inherit;
}
table.data-tables thead tr {
    position: relative;
}
table.data-tables tr th div span {
    margin-top:-15px;
    height: 16px;
    width: 16px;
}
table.data-tables .center {
    text-align: center;
}
table.data-tables .w5 {
    width: 3% !important;
}
table.data-tables .w10 {
    width: 8% !important;
}
table.data-tables .w15 {
    width: 13% !important;
}
table.data-tables .w20 {
    width: 18% !important;
}
table.data-tables .w25 {
    width: 23% !important;
}
table.data-tables .w30 {
    width: 28% !important;
}
table.data-tables .w80 {
    width: 78% !important;
}

table.data-tables tbody tr.even {
    background: #FFF;
}
table.data-tables tbody tr td.sorting_1 {
    background: #EEE;
}
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_processing {
    display: none;
}
div.dataTables_wrapper div.dataTables_length,
div.fg-toolbar div.dataTables_info,
div.fg-toolbar div.dataTables_paginate {
    padding: 15px 2%;
}
div.fg-toolbar div.dataTables_info,
div.fg-toolbar div.dataTables_paginate {
    float: left;
    width: 45%;
    position: relative;
}
div.fg-toolbar div.dataTables_paginate {
    text-align: right;
}
div.fg-toolbar div.dataTables_paginate span {
    padding: 4px 8px;
}
div.fg-toolbar div.dataTables_paginate span.ui-state-default {
    cursor: pointer;
}
div.fg-toolbar div.dataTables_paginate span.ui-state-default.ui-state-disabled {
    cursor: inherit;
}
/* OBJECT TABLE ADD-ONS */
form#objects-form select#object-actions {
    position: absolute;
    right: 35px;
    top: 70px;
    z-index: 999;
}
.w-1000 table.data-tables .w5 {
    width: 3.2% !important;
    padding:14px 0.9% 13px;
}
.w-900 table.data-tables .w5 {
    width: 3.3% !important;
    padding:14px 0.85% 13px;
}
.w-800 table.data-tables .w5 {
    width: 3.4% !important;
    padding:14px 0.8% 13px;
}
.w-700 table.data-tables .w5 {
    width: 3.5% !important;
    padding:14px 0.75% 13px;
}
.lt-640 table.data-tables .w5 {
    width: 4% !important;
    padding:14px 0.5% 13px;
}
.lt-480 table.data-tables .w5 {
    width: 4.5% !important;
    padding:14px 0.25% 13px;
}

/* ONLY APPLIED TOP FRONT-END ADMIN TABLES */
div#site-wrapper div#primary-content form {
    position: relative;
}
div#site-wrapper div#primary-content form select#object-actions {
    top: 15px;
}
div#site-wrapper div#primary-content div.fg-toolbar div.dataTables_info,
div#site-wrapper div#primary-content div.fg-toolbar div.dataTables_paginate {
    color: #999;
    padding: 45px 0 25px;
}
div#site-wrapper div#primary-content div.fg-toolbar div.dataTables_paginate {
    float: right;
}
div#site-wrapper div#primary-content table.data-tables {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
div#site-wrapper div#primary-content table.data-tables thead tr th {
    padding: 20px 1%;
    border-bottom: 1px solid #CCC;
    text-transform: uppercase;
    text-align: left;
    background: #FFFFEE;
    color: #990000;
    font-size: 14px;
    font-size: 1.4rem;
}
div#site-wrapper div#primary-content table.data-tables thead tr th.center {
    text-align: center;
}
form.mp-form div.dataTables_paginate .ui-state-default {
    color: #069;
}
form.mp-form div.dataTables_paginate .ui-state-default.ui-state-disabled {
    color: #999;
}

/* LOADING */
form#objects-form div#objects_wrapper {
    position: relative;
    overflow: hidden;
}
form#objects-form div#objects_wrapper div#objects_processing {
    color: #EEE;
    display: inline;
    height: 95%;
    margin: 0;
    padding: 5% 0 0 0;
    position: absolute;
    width: 100%;
    font-size: 22px;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    z-index: 999;
    background: #454545 url("../../mp-includes/images/ajax_loader_light.gif") no-repeat 50% 40%;
    opacity: 0.4;
}

/* AD-HOC DATATABLES */
div.non-ajax div.dataTables_info,
div.non-ajax div.dataTables_paginate,
div.non-ajax div.dataTables_length {
	display: none;
}
div.non-ajax table.data-tables tr .center {
	border-left: 1px dotted #CCC;
}
div.non-ajax table.data-tables tbody tr td.sorting_1 {
	background: inherit;
}
div.non-ajax table.data-tables tbody {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
div.non-ajax h3.table-title {
	display: block;
	padding: 10px;
	background: #DCE2EC;
	border: 1px solid #CCC;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 5px !important;
	text-align: center !important;
}

/* SMALL SCREEN RESET */
.lt-1280 div#site-wrapper div#primary-content table#objects,
.lt-1280 div#site-wrapper div#primary-content table.data-tables thead tr th {
    font-size: 11px;
    font-size: 1.1rem;
}