div.widget {
    color:#666;
    font-size: 14px;
    font-size:1.4rem;
    font-family:Arial;
    text-align:center;
}
p.download-button {
    border-bottom:1px dotted #CCC;
    margin:0 0 20px;
    padding:0 0 8px;
}
p.widget-commentary {
    height:auto;
    padding:0 0 45px;
}
div.widget a#mp_download_button {
    outline: 0;
    height:auto;
    width:90%;
    display:block;
    color:#FFF;
    text-transform:uppercase;
    font-size: 13px;
    font-size:1.3rem;
    font-weight:bolder;
    font-family:Arial;
    text-align:right;
    text-decoration:none;
    padding:15px 5%;
    background-color: #333;
    background-image: -webkit-gradient(linear, 0 0, 0 70%, from(#000), to(#333));
    background-image: -moz-linear-gradient(#333, #000 70%);
    background-image: linear-gradient(#333, #000 70%);
    background-image: -o-linear-gradient(#333,#000);
    border:2px solid #999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
div.widget a#mp_download_button:hover {
    color:#FFF;
    background-color: #000;
    background-image: -webkit-gradient(linear, 0 0, 0 70%, from(#333333), to(#000000));
    background-image: -moz-linear-gradient(#000000, #333333 70%);
    background-image: linear-gradient(#000000, #333333 70%);
    background-image: -o-linear-gradient(#000000,#333333);
    border:2px solid #CCC;
}
div.widget a#mp_download_button span {
    width:auto;
    height:auto;
    /*padding:0 0 0 112px;*/
    white-space: nowrap;
    background: #111111;
    font-size: 18px;
    font-size: 1.8rem;
}
.lt-1440 div.widget a#mp_download_button span {
    font-size: 12px;
    font-size: 1.2rem;
}
.lt-1024 div.widget a#mp_download_button span {
    font-size: 18px;
    font-size: 1.8rem;
}
div.widget a#mp_download_rocket {
    outline: 0;
    height:120px;
    width:120px;
    display:block;
    text-indent:-999em;
    background-image:url('ajax-rocket.png');
    margin:-90px 0 0 5%;
}