form#contact-form {
    display: block;
    padding: 5px 0 25px;
}
form#contact-form span.notifications {
    display: block;
    padding: 15px;
    text-align: center;
    background: #EEFFEF;
    border: 1px solid #DDD;
}
form#contact-form span.notifications p {
	text-align: center;
}
form#contact-form span.notifications.error {
    background: #FFF4F4;
}
form#contact-form label {
    display: block;
    padding: 15px 0 5px 2%;
    font-weight: bold;
    color: #069;
}
form#contact-form label.halfed {
    padding: 15px 0 5px 1%;
}
form#contact-form .input-wrapper {
    clear: both;
    display: block;
    padding: 8px 2%;
    width: 96%;
    background: #EEE;
    border: 1px solid #CCC;
}
form#contact-form .input-wrapper.area {
    padding: 8px 2%;
}
form#contact-form .input-wrapper.area.halfed {
    padding: 8px 1%;
    width: 98%;
}
form#contact-form .input-wrapper.area textarea {
    min-height: 145px;
}
form#contact-form .input-wrapper .blanked {
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border: none;
}
form#contact-form .half-left {
    float: left;
    display: inline-block;
    width: 47%;
    padding-right: 2%;
    float: left;
}
form#contact-form .half-right {
    display: inline-block;
    width: 47%;
    padding-left: 2%;
    float: right;
    clear: none;
}
form#contact-form span.required {
    color: #990000;
    font-size: 2rem;
}